/* float-left */
img {
  width: 40%;
  float: left;
  padding: 1em 1em 1em 0;
}

div {
  margin: 2rem;
}

/* float-right */
.img-2 {
  width: 40%;
  float: right;
  padding: 1em;
}

.img-3 {
  width: 30%;
  float: none;
  margin: 1em 1em 1em 0;
  padding: 0;
}

div,
p {
  text-indent: 1rem;
}

/* clear */
.div-clear{
  float: left;
  margin: 0;
}
.sea-clear {
  clear: both;
}
